.grid {
  width: 900px;
  border: solid black 1px;
}

.numbers-container {
  display: flex;
  border-bottom: black solid 1px;
  padding-bottom: 20px;
}

.number,
.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 1px;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}

.number {
  width: 200px;
  height: 115px;
  border-top: 0;
  margin: 0 5px;
}

.dice-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice {
  width: 125px;
  height: 125px;
  margin: 15px;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.actions-container button{
  margin-right: 5px;
}

.current-player {
  color: red;
}